version: '3.8'

services:
  transcription-server:
    build: .
    container_name: whisper-websocket
    ports:
      - "8765:8765"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - CUDA_VISIBLE_DEVICES=0
    restart: unless-stopped
    volumes:
      - ./wspr_small_ct2:/app/wspr_small_ct2:ro
